@import "./global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $bodyFont;
}

.App {
  background: $col_2;
  width: 100%;
  @include flex-center;
  flex-direction: column;
  padding: 2rem 0;
  min-height: 100vh;
  & h1 {
    color: $col_1;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  & .card-container {
    width: 60%;
    background-color: $col_2;
    @include flex-center;
    flex-wrap: wrap;
    margin: 2rem 0 2rem;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  & .page-container {
    width: 70%;
    @include flex-center;
    flex-wrap: wrap;
    & button {
      width: 3rem;
      height: 3rem;
      font-size: 1.3rem;
      border: none;
      border-radius: 50%;
      margin: 0.5rem 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        color: $col_1;
        background: rgb(37, 37, 37);
      }
    }

    & .prev,
    & .next {
      color: white;
      font-size: 1.5rem;
      text-decoration: underline;
      cursor: pointer;
    }

    & .prev {
      margin-right: 1.5rem;
    }

    & .next {
      margin-left: 1.5rem;
    }
  }
}
